{% extends 'layouts/base.html.twig' %}

{% block title %}Agence immobilière - Proprties{% endblock %}

{% block body %}
<main id="main">
{#Intro Single#}
{{include('property/partials/_intro_single.html.twig')}}
</main>
{% endblock %}
