<div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed bi bi-x"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label class="pb-2" for="Type">Mot clés</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="Mots clés">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="Type">Type</label>
              <select class="form-control form-select form-control-a" id="Type">
                <option>Tous Type</option>
                <option>Location</option>
                <option>Vente</option>
                <option>Construction</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="city">Région</label>
              <select class="form-control form-select form-control-a" id="city">
                <option>toutes les villes</option>
                <option>IDF</option>
                <option>Sud</option>
                <option>Ouest</option>
                <option>Est</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="bedrooms">Chambre</label>
              <select class="form-control form-select form-control-a" id="bedrooms">
                <option>Indifférent</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="garages">Garages</label>
              <select class="form-control form-select form-control-a" id="garages">
                <option>Indifférent</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="bathrooms">Salle de bain</label>
              <select class="form-control form-select form-control-a" id="bathrooms">
                <option>Indifférent</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="price">Prix Min</label>
              <select class="form-control form-select form-control-a" id="price">
                <option>Pas de plafond</option>
                <option>€50,000</option>
                <option>€100,000</option>
                <option>€150,000</option>
                <option>€200,000</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Rechercher</button>
          </div>
        </div>
      </form>
    </div>
  </div>